Smart Home Automation using IBM/node red flow_home.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"7fd0bea5.41c1e","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"home","applicationId":"","deviceType":"mydevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":72.5,"y":46,"wires":[["ff70bb96.b2b3a8","895aa56c.463508","7fbb166b.541678","67862c83.202b84","fcd0ceca.6bc3c"]]},{"id":"ff70bb96.b2b3a8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":407,"y":42,"wires":[]},{"id":"895aa56c.463508","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"home","service":"homeautomationibm-cloudantNoSQLDB","payonly":false,"operation":"insert","x":231.5,"y":98,"wires":[]},{"id":"7fbb166b.541678","type":"function","z":"deb0d57.1c46528","name":"Temperature","func":"msg={payload:msg.payload.d.Temp}\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":180,"wires":[["59702f52.6ba96","15f7c6d5.99fbd9","3539e7ef.cbeb88"]]},{"id":"59702f52.6ba96","type":"debug","z":"deb0d57.1c46528","name":"Temp","active":false,"console":"false","complete":"payload","x":638,"y":177,"wires":[]},{"id":"67862c83.202b84","type":"function","z":"deb0d57.1c46528","name":"Humidity","func":"msg={payload:msg.payload.d.Humidity}\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":273,"wires":[["cd5b28a5.e9d078","716d7fe2.40783"]]},{"id":"cd5b28a5.e9d078","type":"debug","z":"deb0d57.1c46528","name":"Humidity","active":false,"console":"false","complete":"payload","x":594,"y":254,"wires":[]},{"id":"fcd0ceca.6bc3c","type":"function","z":"deb0d57.1c46528","name":"Flame","func":"msg = {payload:msg.payload.d.Flame}\nreturn msg;","outputs":1,"noerr":0,"x":121,"y":397,"wires":[["921e1a7c.ecfe58","aac44873.426c58","2291a10e.dfb1ae"]]},{"id":"921e1a7c.ecfe58","type":"debug","z":"deb0d57.1c46528","name":"flame","active":false,"console":"false","complete":"payload","x":371,"y":390,"wires":[]},{"id":"eaba23cc.ca5bb","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"home","deviceType":"mydevice","eventCommandType":"surya","format":"json","data":"da","qos":0,"name":"IBM IoT","service":"registered","x":663,"y":558,"wires":[]},{"id":"aac44873.426c58","type":"switch","z":"deb0d57.1c46528","name":"Flame cond","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":459.5,"y":310,"wires":[["1dfd3fdb.bc6"]]},{"id":"1dfd3fdb.bc6","type":"function","z":"deb0d57.1c46528","name":"Buzzer","func":"\nreturn {payload:{\"command\":\"BUZZERON\"}};","outputs":1,"noerr":0,"x":571.5,"y":415,"wires":[["eaba23cc.ca5bb","149a51b2.cf705e"]]},{"id":"149a51b2.cf705e","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":647.5,"y":331,"wires":[]},{"id":"15f7c6d5.99fbd9","type":"switch","z":"deb0d57.1c46528","name":"Temp Cond","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"55","vt":"str"}],"checkall":"true","outputs":1,"x":295,"y":342,"wires":[["1dfd3fdb.bc6"]]},{"id":"96d5de85.8e53a","type":"ui_button","z":"deb0d57.1c46528","name":"Kitchen Light ON","group":"5099a904.9b7438","order":1,"width":"4","height":"1","passthru":false,"label":" Light ON","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"KLIGHTON\"}","payloadType":"json","topic":"surya","x":210,"y":590,"wires":[["eaba23cc.ca5bb"]]},{"id":"93d947aa.9300c8","type":"ui_button","z":"deb0d57.1c46528","name":"Hall Light OFF","group":"bef7117c.e8728","order":2,"width":"4","height":"1","passthru":false,"label":"Light OFF","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"HLIGHTOFF\"}","payloadType":"json","topic":"surya","x":192,"y":558,"wires":[["eaba23cc.ca5bb"]]},{"id":"9041fb12.ff70e8","type":"ui_button","z":"deb0d57.1c46528","name":"Kitchen Light OFF","group":"5099a904.9b7438","order":2,"width":"4","height":"1","passthru":false,"label":"Light OFF","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"KLIGHTOFF\"}","payloadType":"json","topic":"surya","x":206,"y":625,"wires":[["eaba23cc.ca5bb"]]},{"id":"91f7fb18.efef48","type":"ui_button","z":"deb0d57.1c46528","name":"RED","group":"23a8a98b.67f036","order":1,"width":"1","height":"1","passthru":false,"label":"","color":"#FF0000","bgcolor":"#FF0000","icon":"","payload":"{\"command\":\"255,0,0\"}","payloadType":"str","topic":"surya","x":171,"y":660,"wires":[["eaba23cc.ca5bb"]]},{"id":"9c06dd34.9d40d","type":"ui_button","z":"deb0d57.1c46528","name":"BLUE","group":"23a8a98b.67f036","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"#0000FF","bgcolor":"#0000FF","icon":"","payload":"{\"command\":\"0,0,255\"}","payloadType":"json","topic":"surya","x":163,"y":692,"wires":[["eaba23cc.ca5bb"]]},{"id":"e5f446db.7c9b38","type":"ui_button","z":"deb0d57.1c46528","name":"Hall Light ON","group":"bef7117c.e8728","order":1,"width":"4","height":"1","passthru":false,"label":"Light ON","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"HLIGHTON\"}","payloadType":"json","topic":"surya","x":185,"y":529,"wires":[["eaba23cc.ca5bb"]]},{"id":"178487a3.36bdb8","type":"ui_button","z":"deb0d57.1c46528","name":"GREEN","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#00FF00","bgcolor":"#00FF00","icon":"","payload":"{\"command\":\"0,128,0\"}","payloadType":"json","topic":"surya","x":169,"y":735,"wires":[["eaba23cc.ca5bb"]]},{"id":"4c1f2e12.53558","type":"ui_button","z":"deb0d57.1c46528","name":"YELLOW","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FFFF00","bgcolor":"#FFFF00","icon":"","payload":"{\"command\":\"255,255,0\"}","payloadType":"json","topic":"surya","x":197,"y":772,"wires":[["eaba23cc.ca5bb"]]},{"id":"ea0f20af.21153","type":"ui_button","z":"deb0d57.1c46528","name":"CYAN","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#00FFFF","bgcolor":"#00FFFF","icon":"","payload":"{\"command\":\"0,255,255\"}","payloadType":"json","topic":"surya","x":136,"y":994,"wires":[["eaba23cc.ca5bb"]]},{"id":"425ad335.e44bcc","type":"ui_button","z":"deb0d57.1c46528","name":"PURPLE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#800080","bgcolor":"#800080","icon":"","payload":"{\"command\":\"128,0,128\"}","payloadType":"json","topic":"surya","x":136,"y":923,"wires":[["eaba23cc.ca5bb"]]},{"id":"6515fbee.1f3a64","type":"ui_button","z":"deb0d57.1c46528","name":"WHEAT","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#F5DEB3","bgcolor":"#F5DEB3","icon":"","payload":"{\"command\":\"245,222,179\"}","payloadType":"json","topic":"surya","x":242,"y":1089,"wires":[["eaba23cc.ca5bb"]]},{"id":"b5294106.59504","type":"ui_button","z":"deb0d57.1c46528","name":"TEAL","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#008080","bgcolor":"#008080","icon":"","payload":"{\"command\":\"0,128,128\"}","payloadType":"json","topic":"surya","x":584,"y":1103,"wires":[["eaba23cc.ca5bb"]]},{"id":"cc73efd6.2ad01","type":"ui_button","z":"deb0d57.1c46528","name":"MISTY ROSE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FFE4E1","bgcolor":"#FFE4E1","icon":"","payload":"{\"command\":\"255,228,225\"}","payloadType":"json","topic":"surya","x":411,"y":1180,"wires":[["eaba23cc.ca5bb"]]},{"id":"43f50b38.ed7504","type":"ui_button","z":"deb0d57.1c46528","name":"LAVENDER","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#E6E6FA","bgcolor":"#E6E6FA","icon":"","payload":"{\"command\":\"230,230,250\"}","payloadType":"json","topic":"surya","x":579,"y":1198,"wires":[["eaba23cc.ca5bb"]]},{"id":"53f91a91.507424","type":"ui_button","z":"deb0d57.1c46528","name":"AQUA MARINE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#7FFFD4","bgcolor":"#7FFFD4","icon":"","payload":"{\"command\":\"127,255,212\"}","payloadType":"json","topic":"surya","x":204,"y":814,"wires":[["eaba23cc.ca5bb"]]},{"id":"abf6b31d.fb9f7","type":"ui_button","z":"deb0d57.1c46528","name":"ORANGE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FFA500","bgcolor":"#FFA500","icon":"","payload":"{\"command\":\"255,165,0\"}","payloadType":"json","topic":"surya","x":208,"y":1064,"wires":[["eaba23cc.ca5bb"]]},{"id":"4e772b94.ada0e4","type":"ui_button","z":"deb0d57.1c46528","name":"WHITE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FFFFFF","bgcolor":"#FFFFFF","icon":"","payload":"{\"command\":\"255,255,255\"}","payloadType":"json","topic":"surya","x":291,"y":1142,"wires":[["eaba23cc.ca5bb"]]},{"id":"b01112ec.216c6","type":"ui_button","z":"deb0d57.1c46528","name":"PINK","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FFC0CB","bgcolor":"#FFC0CB","icon":"","payload":"{\"command\":\"255,192,203\"}","payloadType":"json","topic":"surya","x":597,"y":1150,"wires":[["eaba23cc.ca5bb"]]},{"id":"b02fa291.efbcb","type":"ui_button","z":"deb0d57.1c46528","name":"VIOLET","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#EE82EE","bgcolor":"#EE82EE","icon":"","payload":"{\"command\":\"238,130,238\"}","payloadType":"json","topic":"surya","x":156,"y":1030,"wires":[["eaba23cc.ca5bb"]]},{"id":"12d48efa.0cea91","type":"ui_button","z":"deb0d57.1c46528","name":"SALMON","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#FA8072","bgcolor":"#FA8072","icon":"","payload":"{\"command\":\"250,128,114\"}","payloadType":"json","topic":"surya","x":129,"y":957,"wires":[["eaba23cc.ca5bb"]]},{"id":"b541f0dd.11952","type":"ui_button","z":"deb0d57.1c46528","name":"SPRING GREEN","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#00FF7F","bgcolor":"#00FF7F","icon":"","payload":"{\"command\":\"0,255,127\"}","payloadType":"json","topic":"surya","x":174,"y":889,"wires":[["eaba23cc.ca5bb"]]},{"id":"431bbdb9.54da34","type":"ui_button","z":"deb0d57.1c46528","name":"ROYAL BLUE","group":"23a8a98b.67f036","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"#4169E1","bgcolor":"#4169E1","icon":"","payload":"{\"command\":\"65,105,225\"}","payloadType":"json","topic":"surya","x":172,"y":859,"wires":[["eaba23cc.ca5bb"]]},{"id":"9af32e24.04b2e","type":"ui_button","z":"deb0d57.1c46528","name":"DOOR OPEN","group":"a17595e2.255d18","order":1,"width":"4","height":"1","passthru":false,"label":"DOOR OPEN","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"DOOROPEN\"}","payloadType":"json","topic":"surya","x":96,"y":487,"wires":[["eaba23cc.ca5bb"]]},{"id":"5f67b7a2.b9a418","type":"ui_button","z":"deb0d57.1c46528","name":"DOOR CLOSE","group":"a17595e2.255d18","order":2,"width":"4","height":"1","passthru":false,"label":"DOOR CLOSE","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"DOORCLOSE\"}","payloadType":"json","topic":"surya","x":470,"y":492,"wires":[["eaba23cc.ca5bb"]]},{"id":"3539e7ef.cbeb88","type":"ui_gauge","z":"deb0d57.1c46528","name":"Temperature","group":"79f4782e.0bcbb8","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":438,"y":114,"wires":[]},{"id":"716d7fe2.40783","type":"ui_gauge","z":"deb0d57.1c46528","name":"Humidity","group":"91c25b70.9bbd98","order":1,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":443,"y":237,"wires":[]},{"id":"2291a10e.dfb1ae","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"9718c08e.c3933","order":1,"width":"0","height":"0","gtype":"gage","title":"Flame","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":369,"y":447,"wires":[]},{"id":"5099a904.9b7438","type":"ui_group","z":"","name":"Kitchen","tab":"5f2dce35.113e4","order":2,"disp":true,"width":"4"},{"id":"bef7117c.e8728","type":"ui_group","z":"","name":"Hall","tab":"9633c738.a57668","order":2,"disp":true,"width":"4"},{"id":"23a8a98b.67f036","type":"ui_group","z":"","name":"Bed Room","tab":"6cea95d3.7de35c","order":3,"disp":true,"width":"9"},{"id":"a17595e2.255d18","type":"ui_group","z":"","name":"DOOR","tab":"9633c738.a57668","order":1,"disp":true,"width":"4"},{"id":"79f4782e.0bcbb8","type":"ui_group","z":"","name":"","tab":"6cea95d3.7de35c","order":2,"disp":true,"width":"6"},{"id":"91c25b70.9bbd98","type":"ui_group","z":"","name":"","tab":"6cea95d3.7de35c","order":4,"disp":true,"width":"6"},{"id":"9718c08e.c3933","type":"ui_group","z":"","name":"","tab":"5f2dce35.113e4","order":4,"disp":true,"width":"6"},{"id":"5f2dce35.113e4","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":3},{"id":"9633c738.a57668","type":"ui_tab","z":"","name":"Hall","icon":"dashboard","order":1},{"id":"6cea95d3.7de35c","type":"ui_tab","z":"","name":"Bed Room","icon":"dashboard","order":2}]